@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

*{
    margin: 0;
    padding: 0;

}
.login-background{
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 100vh;
}

.secLogin{
    opacity: 0.5;
}

.secLogin:hover{
    opacity: 1;
}









.login{
    display: inline;
    position: absolute;
    height: 80vh;
    width: 90vh;
    background-color: #ffffff;
    border: 4px solid #000000;
    border-radius: 1%;
    margin: -45% 28%;

}

#login-index{

}

#logo-delilah{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 5vh;
    background-color: #3a37c7;

}